<template>
    <select class="form-control">
        <option value="">Select...</option>
        <slot></slot>
    </select>
</template>

<script>
import select2 from 'select2';
import 'select2/dist/css/select2.min.css';

export default {
    props: [ 'modalId' ],
    
    mounted() {
        let options = {
            placeholder: 'Select...'
        }

        if (this.modalId) {
            options.dropdownParent = this.modalId;
        }

        $(this.$el).select2(options);
    }
}
</script>
