<template>
    <div class="thumbnail">
        <div class="caption">
            <small>{{ endingDate | dateFormat }}</small>
            <h3>{{ title }}</h3>
            <p>{{ description }}</p>
        </div>
    </div>
</template>

<script>
export default {
    props: [ 'title', 'description', 'link', 'image', 'endingDate', 'executor', 'sm', 'md' ],

    filters: {
        dateFormat: function (value) {
            if (!value) {
                return '';
            }

            value = value.toString();

            if (value.split('-').length == 3) {
                value = value.split('-');

                return `${value[2]}/${value[1]}/${value[0]}`
            }

            return value;
        }
    }
}
</script>
